// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.picture_grid ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.picture_grid li {
    display: inline-block;
    vertical-align: top;
}

.header {
    text-align: center;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
}